* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: #0b0f14;
  color: white;
  overflow-x: hidden;
}

.topbar {
  padding: 15px;
  background: #111827;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}

.card {
  max-width: 420px;
  margin: 20px auto;
  padding: 20px;
  background: #111827;
  border-radius: 12px;
}

.center {
  margin-top: 100px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background: #0b0f14;
  color: white;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

#results {
  margin-top: 10px;
}
